In [5]:
# libs
import pandas as pd

In [7]:
# load data
titanic_df = pd.read_csv('titanic.csv')

# verify load
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
""" 
PassengerId: An unique identifier for each passenger
Survived: Whether the passenger survived (1) or not (0)
Pclass: The passenger's class (1, 2, or 3)
Name: The passenger's name
Sex: The passenger's gender (male or female)
Age: The passenger's age
SibSp: The number of siblings/spouses the passenger had aboard
Parch: The number of parents/children the passenger had aboard
Ticket: The passenger's ticket number
Fare: The fare the passenger paid
Cabin: The cabin number of the passenger
Embarked: The port where the passenger embarked (C = Cherbourg; Q = Queenstown; S = Southampton)
"""

In [14]:
import folium

# Create a map centered around the general area of the ports
m = folium.Map(location=[50.9097, -1.4043], zoom_start=3)

# Count the number of passengers from each embarkation point
counts = titanic_df['Embarked'].value_counts()

# Define the coordinates and order for each port
locations = {
    'S': [50.9097, -1.4043],  # Southampton
    'C': [49.6444, -1.6054],  # Cherbourg
    'Q': [51.8503, -8.2943],  # Queenstown
    'I': [51.4666, -55.7817],  # Iceberg collision site
    'N': [40.7128, -74.0060]   # New York City
}

# Define the order of ports visited
route = ['S', 'C', 'Q', 'I', 'N']

# Add a circle for each port, scaled by the number of passengers that embarked there
for port, count in counts.items():
    if port in ['S', 'C', 'Q']:
        folium.CircleMarker(
            location=locations[port],
            radius=10,  # Fixed radius for all markers
            color='blue',
            fill=True,
            fill_color='blue',
            fill_opacity=0.6,
            tooltip=f'Port: {port}, Passengers: {count}'
        ).add_to(m)

# Draw the intended path (Queenstown to New York City) in green
folium.PolyLine([locations['Q'], locations['N']], color="green", weight=2.5, opacity=1, dash_array='5').add_to(m)

# Display the map
m

In [15]:
# Determine the group of people leased likely to survive
titanic_df['Survived'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [ ]:
""" 
The mean of 0.38 indicates that only 38% of the passengers survived.


"""

In [16]:
# Group the data by 'Pclass', 'Sex', and 'Embarked', and calculate the mean survival rate within each group
grouped = titanic_df.groupby(['Pclass', 'Sex', 'Embarked'])['Survived'].mean()

# Sort the groups by survival rate in ascending order
grouped_sorted = grouped.sort_values()

# Display the sorted groups
grouped_sorted

Pclass  Sex     Embarked
1       male    Q           0.000000
2       male    Q           0.000000
3       male    Q           0.076923
                S           0.128302
2       male    S           0.154639
                C           0.200000
3       male    C           0.232558
1       male    S           0.354430
3       female  S           0.375000
1       male    C           0.404762
3       female  C           0.652174
                Q           0.727273
2       female  S           0.910448
1       female  S           0.958333
                C           0.976744
2       female  C           1.000000
1       female  Q           1.000000
2       female  Q           1.000000
Name: Survived, dtype: float64

In [19]:
bros_3rd_class = titanic_df[(titanic_df['Sex'] == 'male') & (titanic_df['Pclass'] == 3) & (titanic_df['Embarked'] == 'Q')]

bros_3rd_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q

In [20]:
# DEV check
len(bros_3rd_class)

39

In [21]:
# reindex inplace
bros_3rd_class.reset_index(drop=True, inplace=True)

#print it
bros_3rd_class

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
1,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
2,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
3,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
4,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
5,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q
6,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.1250,NaN,Q
7,189,0,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5000,NaN,Q
8,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
9,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
10,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
11,279,0,3,"Rice, Master. Eric",male,7.0,4,1,382652,29.1250,NaN,Q
12,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
13,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
14,365,0,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q
15,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
16,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
17,422,0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q
18,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
19,460,0,3,"O'Connor, Mr. Maurice",male,NaN,0,0,371060,7.7500,NaN,Q
20,469,0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
21,511,1,3,"Daly, Mr. Eugene Patrick",male,29.0,0,0,382651,7.7500,NaN,Q
22,518,0,3,"Ryan, Mr. Patrick",male,NaN,0,0,371110,24.1500,NaN,Q
23,526,0,3,"Farrell, Mr. James",male,40.5,0,0,367232,7.7500,NaN,Q
24,553,0,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,NaN,Q
25,561,0,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q
26,614,0,3,"Horgan, Mr. John",male,NaN,0,0,370377,7.7500,NaN,Q
27,630,0,3,"O'Connell, Mr. Patrick D",male,NaN,0,0,334912,7.7333,NaN,Q
28,704,0,3,"Gallagher, Mr. Martin",male,25.0,0,0,36864,7.7417,NaN,Q
29,719,0,3,"McEvoy, Mr. Michael",male,NaN,0,0,36568,15.5000,NaN,Q
30,750,0,3,"Connaghton, Mr. Michael",male,31.0,0,0,335097,7.7500,NaN,Q
31,769,0,3,"Moran, Mr. Daniel J",male,NaN,1,0,371110,24.1500,NaN,Q
32,777,0,3,"Tobin, Mr. Roger",male,NaN,0,0,383121,7.7500,F38,Q
33,779,0,3,"Kilgannon, Mr. Thomas J",male,NaN,0,0,36865,7.7375,NaN,Q
34,788,0,3,"Rice, Master. George Hugh",male,8.0,4,1,382652,29.1250,NaN,Q
35,791,0,3,"Keane, Mr. Andrew ""Andy""",male,NaN,0,0,12460,7.7500,NaN,Q
36,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
37,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
38,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [23]:
""" 
Group least likely to survive:
Men in 3rd class who embarked from Queenstown     
"""

# DEV check
len(bros_3rd_class)

39